<assembly xmlns="http://maven.apache.org/ASSEMBLY/2.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/ASSEMBLY/2.1.0 http://maven.apache.org/xsd/assembly-2.1.0.xsd">
    <id>plugin</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <fileSets>
        <fileSet>
            <directory>${project.build.directory}</directory>
            <outputDirectory/>
            <includes>
                <include>*.jar</include>
                <include>plugin-descriptor.properties</include>
            </includes>
            <excludes>
                <exclude>*javadoc*</exclude>
                <exclude>*sources*</exclude>
            </excludes>
        </fileSet>
    </fileSets>
    <dependencySets>
        <dependencySet>
            <includes>
                <include>com.alibaba:druid</include>
                <include>org.apache.commons:commons-lang3</include>
                <include>org.antlr:antlr4-runtime</include>
                <include>org.elasticsearch.plugin:parent-join-client</include>
            </includes>
        </dependencySet>
    </dependencySets>
</assembly>